        body {
            border: 2px red;
            /* background-color: #00ff0e; */
        }
        
        p {
            color: white;
        }
        
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 100px;
        }
        
        .container img {
            width: 400px;
            height: 400px;
            transition: all 1s;
        }
        
        .container img:hover {
            transform: scale(2.0);
        }