        body {
            border: 2px red;
            /* background-color: #00ff0e; */
            background-color: gold;
        }
        
        p {
            color: white;
        }
        
        .classic {
            display: flex;
            flex-wrap: wrap;
        }
        
        .classic img {
            width: 300px;
            height: 400px;
            margin: 20px;
            transition: all 1s;
        }
        
        .classic img:hover {
            transform: scale(2.1);
        }